<%- include("header") -%>
<body> 
    <form class="" action="\" method="post"> 
    <input type="text" name="newname" placeholder="Tell me your name" autocomplete="off"> 
    <button type="submit" name="button" value=<%= title %>>+</button>    
    </form> 
</body>
</html>